.profile-background {
  background-color: #e9ebee;
}

.banner {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('/resources/banner.jpg');
}

.profile-card {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-top: 1rem;
  background-color: #FFFFFF;
  color: black;
  //min-height: 400px;
}

.profile-item-card {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-top: 1rem;
  background-color: #FFFFFF;
  color: black;
  @media (min-width: 767px) {
    margin-left: 10px !important;
  }
}

.profile-pic {
  border-radius: 100%;
  margin-top: -150px;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  padding: 0 !important;
}

.button {

  button {

    div {
      background-color: #4183D7;
    }
    color: #FFFFFF;
  }
}